mixin header
  header.header
    
    .header__upper-box.row
      .header__logo-box
        +svg('logo')
        
      .header__icon.js-icon
        .header__hamburger
    
      +nav
          
    .row
      .header__text-box
        h1.jumbo gym 24/7</br> no excuses
        p.p.p--white.u-mt-l.u-mb-xl Nam porttitor blandit accumsan. Ut vel dictum sem, a pretium dui. In malesuada enim in dolor euismod, id commodo mi consectetur. 
        a(href="javascript:void(0)").btn get a free pass
      
