mixin section-cta
  section.section-cta
    .section-cta__text-box
      .row
        .col-1-of-2
          h2.h1 ready to get in shape?
          p.p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed.
          form.form-inline
            .input__regular-box
              +svg('input-mail')
              input(type="text", placeholder="Email adress").input__regular
            .input__submit-box
              .input__submit-shadow
              input(type="submit", value="send").input__submit
    .section-cta__img
      
      
