include pug/mixins

doctype html
html(lang="en")
  +head('24/7 Gym')
    
  body
    +header
    
    +main-home
    
    +footer
      
    //- JS
    script(src="https://maps.googleapis.com/maps/api/js")
    script(src="js/main.js")  
